<section id="sidebar">
    <div class="sidebarItem">
        <span class="sidebarTitle">
            ABOUT ME
        </span>
        <img src={{this.user.profilePic}} alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis distinctio ratione eligendi laboriosam illum dignissimos tempore obcaecati</p>
    </div>
    <div class="sidebarItem">
        <span class="sidebarTitle">
            CATEGORIES
        </span>
        <ul class="sidebarList">
            <li class="sidebarListItem">Life</li>
            <li class="sidebarListItem">Music</li>
            <li class="sidebarListItem">Style</li>
            <li class="sidebarListItem">Sport</li>
            <li class="sidebarListItem">Tech</li>
            <li class="sidebarListItem">Cinema</li>
        </ul>
    </div>
    <div class="sidebarItem">
        <span class="sidebarTitle">
            FOLLOW US
        </span>
        <div class="sidebarSocial">
            <i class="sidebarIcon fa-brands fa-square-facebook"></i>
            <i class="sidebarIcon fa-brands fa-square-twitter"></i>
            <i class="sidebarIcon fa-brands fa-square-pinterest"></i>
            <i class="sidebarIcon fa-brands fa-square-instagram"></i>
        </div>
    </div>    
    </section>
