<app-admin-header></app-admin-header>
<section id="settings">
    <div class="settingsWrapper">
         <div class="settingsTitle">
            <span class="settingsUpdateTitle">Update Your Account</span>
            <span class="settingsDeleteTitle">Delete Account</span>
         </div>
         <form action="" class="settingsForm" #edituserForm="ngForm"  (ngSubmit)="editadminprofile()"  >
            <label for="">Profile Picture</label>
            <!-- <div class="settingsProfilePic">
                <label>Upload new profilePic</label>
               
                <label for="fileInput">
                 <span class="settingsPPIcon"><i class="fas fa-user-circle"></i></span>
                </label>

                <input type="file"  #fileInput  id="fileInput" style="display:none;" (change)="onFileUpload()" class="fileInput" name="profilePic"  [(ngModel)]="this.admins[0].profilePic" #profilepic="ngModel" required>
                </div> -->

                <label>Username</label>
             
                <input type="text" name="username" [(ngModel)]="this.admins[0].adminname" required  >
                <label>Email</label>
                <input type="email" name="email" [(ngModel)]="this.admins[0].email" required >
                
                <label>Password</label>
                
                <input type="password" name="password" [(ngModel)]="this.admins[0].password" required >
                <button class="settingsSubmit">Update</button>
         </form>
    </div>
    <div class="side">
        <app-admin-sidebar></app-admin-sidebar>
    </div>
    
</section>



