<app-admin-header></app-admin-header>
<section id="settings">
    <div class="settingsWrapper">
        <form action="" class="settingsForm"  >
         <div class="settingsTitle">
            <span class="settingsUpdateTitle">Update Your Account</span>
           
         </div>
        
            <label for="">Profile Picture</label>
            <div class="settingsProfilePic">
                <img src={{this.admins[0].profilePic}} alt="">
                <!-- <label for="fileInput">
                 <span class="settingsPPIcon"><i class="fas fa-user-circle"></i></span>
                </label>
                <input type="file" name="" id="fileInput" style="display:none;"> -->
                </div>

                <label>Username</label>
                <td >{{this.admins[0].adminname}}</td>
               
                <label>Email</label>
               
                <td>{{this.admins[0].email}}</td>
                <label>Password</label>
                <td>{{this.admins[0].password}}</td>
               
                <button class="settingsSubmit" routerLink="/admin-edit-settings">Edit</button>
         </form>
    </div>
    <div class="side">
        <app-admin-sidebar></app-admin-sidebar>
    </div>
    
</section>


