<app-admin-header></app-admin-header>
<section id="admin-home">
    <div class="mainContent">
        <div class="adminPanelContent">
        <app-adminpanel></app-adminpanel></div>
        <div class="adminContent">
            <section id="adminViewUsers">
                <form action="">
                    <h4 style="color: #444;;">LIST OF USERS</h4>
                    <div class="tableUser table table-hover table-striped">
                        <table>
                            <thead class="thead-dark">
                                <tr>
                                    <th>UserID</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                 
                                     <td >{{user.userid}}</td>
                                     <td >{{user.username}}</td> 
                                     <td >{{user.email}}</td> 
                                     <td >{{user.password}}</td> 
                                    
                                     <td >
                                        <button (click)='deleteUser(user)' class="icon"><i class="fa-solid fa-trash " ></i></button></td>
                                    
                            </tbody>
                        </table>
                    </div>
                </form>
             </section>
        </div>
    </div>
</section>


