<app-header></app-header>
<section id="settings">
    <div class="settingsWrapper">
         <div class="settingsTitle">
            <span class="settingsUpdateTitle">Update Your Account</span>
            <span class="settingsDeleteTitle">Delete Account</span>
         </div>
         <form action="" class="settingsForm" #edituserForm="ngForm"  (ngSubmit)="edituserprofile()" >
            <label for="">Profile Picture</label>
            <div class="settingsProfilePic">
                <img src="https://i.pinimg.com/originals/a4/c1/5a/a4c15a88d299ff50ebb6ea87350ff605.jpg" alt="">
                <!-- <label for="fileInput">
                 <span class="settingsPPIcon"><i class="fas fa-user-circle"></i></span>
                </label>
               
                <input #fileInput type="file" style="display:none;" id="fileInput" (change)="onFileUpload()" name="profilePic"  [(ngModel)]="user.profilePic" #profilePic="ngModel" required> -->
                </div>

                <label>Username</label>
             
                <input type="text" name="username" [(ngModel)]="user.username" required  >
                <label>Email</label>
                <input type="email" name="email" [(ngModel)]="user.email" required >
                
                <label>Password</label>
                
                <input type="password" name="password" [(ngModel)]="user.password" required >
                <button class="settingsSubmit">Update</button>
         </form>
    </div>
    <div class="side">
        <app-sidebar></app-sidebar>
    </div>
    
</section>


