 <!-- <section class="topnav" id="myTopnav">
    <div class="topLeft">
     <i class="topIcon fa-brands fa-square-facebook"></i>
        <i class="topIcon fa-brands fa-square-twitter"></i>
        <i class="topIcon fa-brands fa-square-pinterest"></i>
        <i class="topIcon fa-brands fa-square-instagram"></i>  
      <span class="logo">CHANNEL</span>
    </div>
    <div class="topCenter">
        <ul class="topList">
            <li class="topListItem" routerLink="/landingpage">HOME</li>
            <li class="topListItem" routerLink="/mainabout">ABOUT</li>
            <li class="topListItem" routerLink="/maincontact">CONTACT</li>
            <span routerLink="/user-login"><li class="topListItem" >LOGIN</li></span>
            <li class="topListItem" routerLink="/user-register">REGISTER</li>
            <span routerLink="/admin-login"><li class="topListItem" >ADMIN LOGIN</li></span>
        </ul>

    </div>
    <div class="topRight">
       
        <i class="topSearchIcon fa-solid fa-magnifying-glass"></i>
    </div>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</section>  -->






       

<!-- 
    <div class="topnav" id="myTopnav">
        <a href="#home" class="logo">CHANNEL</a>
       
        <a routerLink="/mainabout">About</a>
        <a routerLink="/maincontact">Contact</a>
        <a routerLink="/user-login">Login</a>
        <a routerLink="/user-register">Register</a>
        <a routerLink="/admin-login">Admin Login</a>
        <!-- <div class="dropdown">
          <button class="dropbtn">Dropdown 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>  -->
      
        <!-- <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>  --> 
     



      <nav class="navbar">
        <a
          href=""
          class="nav-branding"
          style="font-weight: 900; font-variant: small-caps"
          >CHANNEL</a
        >
        <ul class="nav-menu">
          <li class="topListItem" routerLink="/landingpage">HOME</li>
          <li class="topListItem" routerLink="/mainabout">ABOUT</li>
          <li class="topListItem" routerLink="/maincontact">CONTACT</li>
          <li class="topListItem" routerLink="/user-login">LOGIN</li>
          <li class="topListItem" routerLink="/user-register">REGISTER</li>
          <li class="topListItem" routerLink="/admin-login">ADMIN LOGIN</li>
          
        </ul>
        
         
        <div class="hamburger" >
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav> 
     
       