<section id="SuperAdminSidebar">
    <div class="adminPanel">
        <h2 class="adminPanelTitle">SUPER ADMIN PANEL</h2>
        <hr>
        <button routerLink="/superadmin-view-admins" class="adminPanelBtn">View Admins</button>
        <button routerLink="/superadmin-view-users" class="adminPanelBtn">View Users</button>
        <button routerLink="/superadmin-view-categories" class="adminPanelBtn">View Categories</button>
        <button routerLink="/superadmin-view-posts" class="adminPanelBtn">View Posts</button>
        <button routerLink="/superadmin-add-admin" class="adminPanelBtn">Add new Admin</button>
    </div>
    </section>
    
