<app-mainheader></app-mainheader>
<section id="adminlogin">
    <div class="ulogin">
    <span class="loginTitle">SuperAdmin Login</span>
    <form action="" class="loginForm" #loginForm="ngForm" (ngSubmit)="superadminLogin(loginForm.value)">
        <label for="">Email</label>
        <input type="email" placeholder="Enter your email..." class="loginInput" name="email" [(ngModel)]="superadmin.email" required #email="ngModel">
        <div class="msg">
            <small style="color:red" *ngIf="email.invalid && email.touched">Email is required </small>
        </div>
        <label for="">Password</label>
        <input type="password" placeholder="Enter your password..." class="loginInput" name="password" [(ngModel)]="superadmin.password" minlength="5" required #password="ngModel">
        <div class="msg">
            <small style="color:red" *ngIf="password.invalid && password.touched">Password is required </small>
          </div>
        <button class="loginButton" [disabled]="!loginForm.valid">Login</button>
    </form>
   
    </div>
</section>


